.hamburger-icon {
  transition: all 1s;
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: 0.25s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .line {
      width: 24px;
      height: 2px;
      background-color: black;
    }
  }
  .close {
    .hamburger-middle {
      display: none;
    }
    .hamburger-top {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform: rotate(45deg);
    }
    .hamburger-bottom {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform: rotate(-45deg);
    }
  }
}
